<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911611774065-26gh1d0mgdroi2jubu0ne9h1sjoi9829.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911611774065-26gh1d0mgdroi2jubu0ne9h1sjoi9829</string>
	<key>API_KEY</key>
	<string>AIzaSyBtIq_ZU5Ur70Qmoh761LAwUETqFy8Xv1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>911611774065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>book-list-sample-bb29c</string>
	<key>STORAGE_BUCKET</key>
	<string>book-list-sample-bb29c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911611774065:ios:ef12a02acdd6fd6062c7d0</string>
</dict>
</plist>